@import "tailwindcss";

@layer base {
  html, body {
    @apply h-full overflow-hidden;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
